@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* main */
.scoreboard {
    display: flex;
    justify-content: space-evenly;
    gap: 0.66rem;
    flex-wrap: wrap;
    max-width: 34.94em;
    width: 90vw;
    height: 24.06rem;
    margin: 0.66rem auto;
    background: #42CDCD;
}

/* Home Team Section */
.team {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 3rem;
}

h1 {
    width: 9.3rem;
    color: #33691C;
    text-align: center;
    font-family: Verdana;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.24rem;
}

.score-display {
    width: 9.69rem;
    margin-top: 0.94rem;
    background: #080001;
    border-radius: 5px 0 0 0;
}

.score {
    width: 7.3rem;
    height: 7.3rem;
    margin: auto;
    text-align: center;
    color: #F94F6D;
    font-family: cursed_timer_ulilregular;
    font-size: 5.63rem;
    font-weight: 400;
    line-height: 7.88rem;
}

.score-buttons {
    display: flex;
    justify-content: space-between;
    width: 9.69rem;
}

.score-btn {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 5px 0 0 0;
    background: none;
    color: #474771;
    border: 2px solid #474771;
    cursor: pointer;
}

span {
    font-family: cursed_timer_ulilregular;
    font-size: 1.19rem;
}

/* Quarter Section */
.quarter-section {
    gap: 0;
    height: 12.7rem;
}

#quarterLabel {
    margin-top: 1.25rem;
    font-size: 1.9rem;
    line-height: 4.1rem;
}

.quarter-display {
    width: 6.6rem;
    height: 5rem;
    margin: 0 auto 0.31rem;
    background: #080001;
    border-radius: 5px 0 0 0;
}

.quarter-display p {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    color: #00ffff;
    font-size: 3.13rem;
    font-family: cursed_timer_ulilregular;
    font-weight: 400;
}

.next-quarter-btn {
    width: 5.35rem;
    color: #7A5A15;
    margin: 0 auto;
    padding: 0.19rem;
    cursor: pointer;
}

.reset-game-btn {
    width: 9.7rem;
    padding: 0.63rem 0.13rem;
    background: #9AABD8;
    color: #011a1a;
    font-size: 1.13rem;
    border: none;
    border-radius: 3px;
    position: relative;
    top: -4.5rem;
    left: 0;
    cursor: pointer;
}
