@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* --body: #000;
    --white: #FFF;
    --bg-primary: #1F2937;
    --bg-secondary: #6943FF;
    --bg-tertiary: #273549;
    --header: #CCC1FF;
    --border: #B295FF;
    --btn: #3D3D3D; */

    --body: #0D1B1E;
    --bg-primary: #1E3A3A;
    --bg-secondary: #10B981;
    --h1: #F9FAFB;
    --bg-input: #065F46;
    --placeholder: #D1FAE5;
    --bg-btn: #34D399;
    --btn: #064E3B;
    --bg-tertiary: #134E4A; 
    --header: #6EE7B7;
    --border: #34D399;
    --white: #FFF;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: var(--body);
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    max-width: 550px;
    /* min-height: 729px; */
    background-color: var(--bg-primary);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    min-height: 285px;
    background-color: var(--bg-secondary);
}

h1 {
    max-width: 449px;
    min-height: 38px;
    color: var(--h1);
    font-size: 28px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: -0.03px;
}

#unit {
    width: 20%;
    min-height: 83px; 
    /* min-width: 117px;
    min-height: 83px; */
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 58px;
    line-height: 25px;
    font-weight: 900;
    color: var(--h1);
    background-color: var(--bg-input);
    text-align: center;
}

#unit:focus {
    outline: none;
}

#unit::placeholder {
    color: var(--placeholder);
}

button {
    min-width: 117px;
    min-height: 42px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-btn);
    color: var(--btn);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 36px 0;
}

.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    /* min-width: 500px; */
    min-height: 109px;
    background-color: var(--bg-tertiary);
    border-top-left-radius: 4.7px;
}

.pro h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: var(--header);
}

.pro p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--h1); 
}